$minuteLength: 280px;
.timer-section {
  margin: 20px auto;
}
.timer-container {
  width: $minuteLength + 80px;
  height: $minuteLength + 80px;
  border: 8px solid black;
  border-radius: 50px;
  margin: 10px auto;
}

.timer {
  width: $minuteLength;
  height: $minuteLength;
  margin: 32px auto;
  position: relative;
  &-minute {
    position: absolute;
    right: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1px;
    height: $minuteLength;
    background-color: black;
    z-index: $timer-minute-level;

    @for $i from 0 through 59 {
      &-#{$i} {
        height: 50%;
        background-color: black;
      }
    }
  }
  @for $i from 0 through 30 {
    .timer-minute:nth-child(#{$i + 1}) {
      transform: rotate(#{-6 * $i}deg);
      @if ($i % 5 == 0) {
        width: 3px;
      }
    }
  }

  &-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $circle-level;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: #fff;
  }
  @for $i from 0 through 720 {
    &-fill-container-#{$i} {
      position: absolute;
      right: 50%;
      // display: flex;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 2px;
      height: $minuteLength;
      z-index: 500;
      transform: rotate(#{$i * -0.5}deg);
      z-index: $fill-level;
      pointer-events: none;
      &.is-active {
        display: flex;
      }
    }

    .timer-fill {
      height: 50%;
      background-color: red;
      opacity: 0.5;
    }
  }

  // 숫자 만들기
  @for $i from 0 through 11 {
    .minute-num-#{$i * 5} {
      position: absolute;
    }
  }
  .minute-num-0 {
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
  }
  .minute-num-30 {
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
  }

  .minute-num-5 {
    top: 0;
    left: 20%;
  }
  .minute-num-25 {
    bottom: 0;
    left: 20%;
  }
  .minute-num-55 {
    right: 20%;
  }
  .minute-num-35 {
    bottom: 0;
    right: 20%;
  }

  .minute-num-10 {
    left: 0;
    top: 19%;
  }
  .minute-num-20 {
    left: 0;
    bottom: 19%;
  }
  .minute-num-50 {
    right: 0;
    top: 19%;
  }
  .minute-num-40 {
    right: 0;
    bottom: 19%;
  }

  .minute-num-15 {
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
  .minute-num-45 {
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.btn-start {
  display: block;
  margin: 0 auto;
  background-color: #ff7b5a;
  padding: 15px;
  border-radius: 10px;
  color: #fceeed;
  font-size: 40px;
  font-weight: 700;
  &:active {
    opacity: 0.4;
  }
}
