@import "./constants/z-index";

@import "./base/reset";

$minuteLength: 500px;

.timer {
  width: $minuteLength;
  height: $minuteLength;
  margin: auto;
  position: relative;
  &-minute {
    position: absolute;
    right: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1px;
    height: $minuteLength;
    background-color: black;
    z-index: $timer-minute-level;

    @for $i from 0 through 59 {
      &-#{$i} {
        height: 50%;
        background-color: blue;
      }
    }
  }
  @for $i from 0 through 30 {
    .timer-minute:nth-child(#{$i + 1}) {
      transform: rotate(#{-6 * $i}deg);
      @if ($i % 5 == 0) {
        width: 3px;
      }
    }
  }

  &-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $circle-level;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: #fff;
  }
  @for $i from 0 through 720 {
    &-fill-container-#{$i} {
      position: absolute;
      right: 50%;
      // display: flex;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 2px;
      height: $minuteLength;
      z-index: 500;
      transform: rotate(#{$i * -0.5}deg);
      z-index: $fill-level;
      pointer-events: none;
      &.is-active {
        display: flex;
      }
    }

    .timer-fill {
      height: 50%;
      background-color: red;
      opacity: 0.5;
    }
  }
}
